rtos/

*.d
*.elf
*.map
*.o
*.bin

FreeRTOSConfig.h
stm32f103c8t6.ld

includes/miniprintf.h
includes/oled_fun.h
includes/parauso_ugui.h
includes/spioled_config.h
includes/analog_config.h

cofu/analog_config.c
cofu/miniprintf.c
cofu/spioled_config.c
